@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;

}
header{
    background-color: white;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.212);
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

nav a{
    padding-left: 55px;
    font-size: 0.82em; 
} 
nav{
    margin-left: 160px;
    padding-top: 15px;
}

#paddingINNO{
    margin-left: 60px;
    margin-right: 80px;
    font-size: 1.3em;
}

#one, #home{
    color: rgb(64, 142, 194);
}

#paddingPOTENT{
    margin-left: -30px;
    font-size: 1em;
    
}

#btnNav{
    padding: 4px 15px 4px 15px;
    font-size: 0.8em;
    color: white;
    background-color: rgb(64, 142, 194);
    border: 1px solid transparent;
}

#alemanha{
    width: 19px; 
    height: 12px;
    padding-right: 4px;
}

#retangulo{
    border: 1px solid transparent;
    background-color: rgba(64, 142, 194, 0.036);
    height: 350px;
    width: 1000px;
    margin: 0px auto 30px auto;   
    text-align: center;            
}

#circulo{
    margin-left: 120px;
    margin-top: -300px;
    background-image: linear-gradient(to bottom, rgb(246, 247, 248), rgba(64, 142, 194, 0.075), rgba(66, 143, 194, 0.205)) ;
    height: 750px;
    width: 750px;
    border-radius: 50%;
}
 
#divret{
    padding-top: 110px;
    
}

#btnLinkedin{
    background-color: rgb(255, 255, 255);
    border-radius: 25px ;
    border: 2px solid rgba(64, 142, 194, 0.418);
    padding: 5px;
    
}

article p{
    margin-top: 30px;
    font-size: 3.4em;
    text-align: center;
}
